* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/*
Layout
*/

#topo {
    background-color: #007fc7;
    padding: 15px;
    text-align: center;
}

#logo, #menu {
    padding: 10px;
}

